.textfield{
    margin-top: 20px;
}

.MuiFormHelperText-root{
    color: red !important;
}

.paperStyle {
    padding: 20px;
    height: 82vh;
    margin: 0 auto;
    border-radius:10px;
 }

 .avatarstyle {
     background-color: #281652 !important;
 }

 .textfield{
     margin-bottom: 30px !important;
 }

 .create{
     margin-top: 10px !important;
 }

 .signin{
     margin-top: 1rem !important;
 }

 .css-1fu7jd5-MuiButtonBase-root-MuiButton-root{
     background-color: #f2cf57 !important;
 }

 .css-1iwtne7-MuiTypography-root-MuiLink-root{
     font-weight: 600 !important;
     color: #2b045f !important;
     text-decoration: none !important;
     margin-top: 15px !important;
 }