.container{
    background-color: #ff9391;
    background-color: rgb(254, 112, 98);
    display: flex;
    width: 100vw;
    height: 100vh;
}

.image{
    background-repeat:no-repeat;
    opacity: .8;
    width: auto;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    max-width:100%;
    height:100%;
}

@media screen and (max-width: 1100px) {

    .container{
    background-repeat: no-repeat;
    background-color: rgb(254, 112, 98);
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    }

    .image{
        display:none;
    }
    .container{
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .paperStyle1{
    padding: 10px;
    height: 50%;
    width: 65vw;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    }
    
    .textfield1{
        height: 10px;
    }

    .fb-textfield{
        padding:1rem;
        font-size: 1rem;
    }

    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
        width: 50% !important;
    }

    .css-1fu7jd5-MuiButtonBase-root-MuiButton-root{
        font-size: .7rem !important;
        box-flex-group: #494cf3 !important;
    }

     .title{
        font-size: 1rem !important;
   }

    .titlecontent{
        font-size: 0.8rem !important;
    }

    .btn{
        margin-top: 5vh !important;
    }

    .form-container{
        justify-content: center;
    }   
    
}

.MuiFormHelperText-root{
    color: red !important;
}


.paperStyle1 {
    background-color: #ffffff !important;
    padding: 10px;
     opacity: .8;
    height: 40%;
    width: 50vh;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
 }


.btn{
    margin-top: 3vh;
    font-size: 1rem;
}

.css-14epxft-MuiPaper-root{
    justify-content: center;
   
}

 .favatarstyle {
     background-color: #fe7062 !important;
 }

 .title{
        font-size: 1vw;
 }

.titlecontent{
        font-size: 1vw;
 }

 .fp{
     margin-top: 1vh !important;
     width: 20vw !important;
     font-size: 1vw !important;
 }

 .form-container{
     margin: auto;
     width: auto !important;
 }