.paperStyle2{
    padding: 15px;
    width: 450px;
    margin: 0 auto;
    height: 83vh;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 10px !important;
}

.avatarStyle{
    background-color: #cd41a4 !important;
}

.textfield{
    margin-bottom: 11px !important;
}

.register{
    margin-top: 8px !important;
}

.login-container{
    justify-content: flex-start;
}