.parent-container{
    background-color: #c13db5;
    width: 100% !important;
    height: 100%;
    justify-content: center;
}

.outer-container{
    display: flex !important;
    width: 50vw !important;
    height: 100vh !important;
}

.inner-container{
    margin: auto;
    margin-left: 6vw ;
     opacity: .9;
}

.login-image img{
      width: 50vw ;
    height: 100vh ;
    opacity: 0.9;
}

@media screen and (max-width: 1100px) {

        .login-image img{
            display: none;
        }

        .inner-container{
         margin: auto;
        }

        .parent-container{
            display: flex;
            margin-top: auto ; 
            width: auto;
            height: 100%;
         }

        .outer-container{
         /* display: flex ; */
         width: 100vw !important;
         height: 100vh !important;
         margin: 0 !important;
        }
    }


    @media screen and (max-width: 600px){
        .parent-container{
            background-color:transparent;
            /* width: 300px !important; */
        }
         
    }